<!DOCTYPE html>
<html lang="en">
<head>
  <title>Success</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div>
  <div class="outer">
    <div class="middle">
      <div class="inner text-center">
          <img src="../img/logo.png" class="text-center">
        <p class="text-center bold font-1p5em text-white">בחר/י סיסמה חדשה</p>
        <form class="w3-container nopadding">
          <p class="margin-top-20">
          <input class="w3-input custom-input" type="password" placeholder= "סיסמה חדשה"></p>
          <p class="margin-top-20">
          <input class="w3-input custom-input" type="password" placeholder= "אימות סיסמה"></p>
        </form>
        <p class="margin-top-20 nopadding">
          <button href="#" type="button" class="btn btn-block btn-grad text-white">אישור</button>
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
