<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../Content/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- header -->

    <nav class="header-pink nav_shadow padding-10">
        <div class="container-fluid nopadding">
            <div class="col-xs-4 padding-5tb">
                <a href="#">
                    <p class="font-3vh text-white margin-bottom-0" href="#">
                        <img src="Images/back.png" width="15px">
                        חזור
                    </p>
                </a>
            </div>
            <div class="col-xs-4 text-center nopadding">
                <p class="font-4vh text-white bold margin-bottom-0" href="#">תשלום</p>
            </div>
            <div class="col-xs-4 padding-5tb">
                <p class="font-3vh text-white bold margin-bottom-0" href="#"></p>
            </div>
        </div>
    </nav>

    <!-- header-end -->
    <!-- fail message -->

    <div class="text-center padding-15p">
        <p class="text-pink font-4vh">!ההזמנה נכשלה</p>
        <img class="margin-top-10" src="Images/message_rat.png" width="200">
    </div>

    <!-- fail message-end -->

</body>
</html>