
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 commonngpro Reset passwords
        p= ptag
        // register form
        form(method='POST' action='/api/users/resetpasswordsubmit')
          div.form-group
            input#uid.form-control(type='hidden' name='uid' value=user_id)
            div.form-group
            label(for='password') Password:
            input#password.form-control(type='password' name='password')
            div.form-group
            label(for='conf_pass') Confirm password:
            input#conf_pass.form-control(type='password' name='conf_pass')          
          button.btn.btn-primary(type='submit') Reset password

          <script>
  if (usingJade)
    console.log('you are awesome')
  else
    console.log('use jade')
</script>