<!DOCTYPE html>
<html lang="en">
<head>
  <title>Success</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    
    *{
  margin:0;
  padding:0;
}
body{
    background-color: green;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}
.text-white{
    color: white;
}
.nopadding{
    padding: 0;
}
.bold{
    font-weight: bold;
}
.font-1em{
    font-size: 1em;
}
.font-1p5em{
    font-size: 1.5em;
}
.font-2p5em{
    font-size: 2.5em;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.same-padding{
    padding: 0.01em 16px;
}
a:hover{
    text-decoration: none;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner{
    margin-left: auto;
    margin-right: auto;
    min-height: 364px;
    min-width: 320px;
    max-width: 412px;
    width: calc(100% - 40px);
    padding: 36px;
    margin-bottom: 28px;
}
.custom-input{
    color: white; 
    background: none; 
    text-align: right;
}

.custom-input:focus{
    border-color: #749809;
    outline: transparent solid 1px !important;
}

.btn-grad {
    background-color:blueviolet;
    border-radius: 40px;
    height: 45px;
}
.btn-grad:hover { 
    background-position: left center; 
}
  </style>
</head>

<body>

<div>
  <div class="outer">
    <div class="middle">
      <div class="inner text-center">
          <p class="font-2p5em bold">הצלחה</p>
          <p class="font-1p5em">הסיסמה שלך אופסה בהצלחה</p>
          <!-- <img class="text-center margin-top-20" src="img/checked.svg" width="100px">
          <p class="margin-top-20 nopadding">
          <button href="#" type="button" class="btn btn-block btn-grad text-white">נתחיל את האפליקציה</button> -->
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
